# LaTeX build artifacts
*.aux
*.bbl
*.blg
*.idx
*.ind
*.lof
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.fls
*.log
*.fdb_latexmk
*.synctex.gz
*.gz
*.nav
*.snm
*.vrb
*.lol
*.brf
*.dvi
*.ps
*.pdf
!cover/
!cover/*.pdf
*.bcf
*.run.xml
*.xdv
build/

# OS files
.DS_Store
Thumbs.db
__MACOSX/
